#dashboard-wrapper {
    display: flex;
    width: 90%;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

#header-wrapper {
    transform: translateY(25%);
    display: flex;
    justify-content: space-between;
    align-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 40px;
}

.page-nav-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 25px;
}

.page-arrow {
    color: $grey;

    &:hover {
        cursor: pointer;
    }

    &.page-arrow-disabled {
        color: $grey-dark;

        &:hover {
            cursor: default;
        }
    }
}

.page-num {
    color: $white;
    font-size: 16px;
    &:hover {
        cursor: default;
    }
}

.notification-wrapper {
    display: flex;
}

.target-wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    align-content: center;

}

.target-remove {
    color: $red-dark;
}

.notification-bubble {
    display: block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    border: 0.5px $grey solid;
    background-color: $red-light;
    margin-left: -10px;
    margin-top: -5px;
}

#menu-wrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;
    font-size: 18px;
    gap: 40px;

    >a {
        text-underline-offset: 6px;
        margin-top: 13px;

        @media (max-width: $condensed-max) {
            font-size: 10px;
        }

        @media (max-width: $mobile-max) {
            font-size: 14px;
            margin-top: 8px;
        }
    }
}

.snippet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.notification-snippet-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.char-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 18px;
    height: 100px;
    justify-content: center;
    padding-top: 10px;
}

.snippet-content {
    justify-content: flex-start;
    gap: 20px;
    padding: 10px;
    width: 90%;
    height: 100px;
    border-radius: 15px;

    &.song-add {
        border-color: $green-light;
    }

    &.song-remove {
        border-color: $red-light;
    }
}

.album-placeholder {
    margin-left: 15px;
    height: 75px;
    width: 75px;
}

.track-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 5px;

    &.track-remove {
        color: $red-dark;

        :first-child {
            color: $red-light;
        }
    }

    &.track-add {
        color: $green-dark;

        :first-child {
            color: $green-light;
        }
    }
}

.track-remove {
    color: $red-dark;
}

.track-add {
    color: $green-dark;
}

.modify {
    color: $grey;
}

.modify {
    width: 45%;
    border-radius: 15px;

    &.modify-original {
        color: $red-light;
    }

    &.modify-new {
        color: $green-light;
    }
}

.modify-wrapper {
    gap: 25px;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}

.target {
    height: 50px;
    font-size: 16px;
    justify-content: flex-start;
    padding-left: 20px;
    cursor: default;
    flex-wrap: nowrap;
    border-radius: 15px;
    width: 100%;
}
 
.notification {
    height: 50px;
    font-size: 16px;
    justify-content: flex-start;
    padding-left: 20px;
    cursor: default;
    flex-wrap: nowrap;
    border-radius: 15px;
    width: 100%;

    > * {
        margin-top: 15px;
        white-space: nowrap;
    }

    :last-child {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

}

.link-notification {
    font-weight: bold;
}

#dashboard-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    margin-top: 75px;
    margin-bottom: 100px;
    width: 100%;

    @media (max-width: $condensed-max) {
        margin-top: 70px;
    }

    @media (max-width: $mobile-max) {
        margin-top: 40px;
    }
}

#content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 80%;
    max-width: 850px;
    gap: 40px;
}

#divider {
    height: 0.75px;
    width: 100%;
    background-color: $purple-light;
    display:block;
}

.blend-title-opts-wrapper {

    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;

    >a {
        text-decoration: none;
        font-style: normal;
        font-size: 18px;
        margin-top: 7px;

        @media (max-width: $condensed-max) {
            font-size: 14px;
        }

        @media (max-width: $mobile-max) {
            font-size: 10px;
        }
    }
}

.blend-opts-wrapper {
    display: flex;
    gap: 15px;
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

#dashboard-title-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

#export {
    background-color: $purple-light;
}

#invite-link-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px;
    width: 100%;
    transition: all 1s ease;

    @media (max-width: $mobile-max) {
        margin-top: 20px;
    }
}

#invite-wrapper {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
}

#invite-title-opts-wrapper {
    display: flex;
    width: 102.5%;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;

    >p {
        font-size: 12px;
        margin-bottom: 10px;
        color: $purple-light;
    }
    >a {
        font-size: 12px;
        text-underline-offset: 5px;
    }

    @media (max-width: $mobile-max) {
        flex-direction: column;
        align-content: flex-start;
        margin-bottom: 20px;
    }
}

#empty-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 50px;
    width: 100%;
}

.tag-link:hover {
    letter-spacing: normal;
}

.tag {
    color: $green-dark;
    font-size: 12px;
    border: 1px $green-dark solid;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;

    &:hover {
        cursor: pointer;
        color: $red-dark;
        border-color: $red-dark;
    }

    &:hover:before {
        content: "x ";
    }
}

.tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
    gap: 15px;
}
